.App {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.page {
  padding-left: 4vmin;
  padding-right: 3vmin;
}

img.rounded-corners {
  border-radius: 45px;
  margin-right: 2vmin;
}

img.logo {
  margin-right: 1vmin;
}

.square {
  position: relative;
  width: 100%;
}