.App {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #9cecbb;
}

.page {
  padding-left: 3vmin;
  padding-right: 3vmin;
}

img.rounded-corners {
  border-radius: 45px;
  margin-right: 2vmin;
}